/cache
/libraries
/logs
/versions
/world*
/banned*
/ops.json
/run.sh
/usercache.json
/version_history.json
/help.yml

/plugins/floodgate/key.pem
/plugins/Geyser-Spigot/locales/
/plugins/Essentials/userdata/
/plugins/Essentials/userdata-npc-backup/
/plugins/Essentials/warps/
/plugins/Essentials/tpr.yml
/plugins/Essentials/items.json
/plugins/Essentials/usermap.csv